<div class="col-xs-12">
    <ul class="nav nav-pills nav-stacked col-xs-12 col-md-2">
        <li class="active">
            <a href="#resource" data-toggle="tab" property="url">
                <span property="navTitle">Resource</span>
            </a>
        </li>        
        
        <li>
            <a h`ref="#projects" data-toggle="tab" property="url">
                <span property="navTitle">Projects</span>
            </a>
        </li>    
        <li>
            <a href="#recognition" data-toggle="tab" property="url">
                <span property="navTitle">Recognition</span>
            </a>
        </li>
        <li>
            <a href="#initiatives" data-toggle="tab" property="url">
                <span property="navTitle">Initiatives</span>
            </a>
        </li>
        <li property="mainNav" mv-multiple>
            <a href="#about" data-toggle="tab" property="url">
                <span property="navTitle">About</span>
            </a>
        </li>
    </ul>
    <div class="tab-content col-xs-12 col-md-10">
        <section class="tab-pane active" id="resource">
            @@include("partials/resource.html")
        </section>
        <section class="tab-pane" id="projects">
            @@include("partials/projects.html")
        </section>
        <section class="tab-pane" id="recognition">
            @@include("partials/recognition.html")
        </section>
        <section class="tab-pane" id="initiatives">
            @@include("partials/initiatives.html")
        </section>
        <section class="tab-pane" id="about">
            @@include("partials/about.html")
        </section>
    </div>
</div>