<h2>About RMS</h2>
<p class="hidden">Tab 5 - About RMS - Highlight facts about the development of RMS.</p>
<div class="content">
   <summary>Why and how this project was developed</summary>
        <div class="about">
            <p property="aboutRms">
                This Resource management System is a web portal system that lets you manage resource, projects and Creative Ideas. While this application could be of great benefit to the company, the excitement about it comes mainly from the fact that it was developed using a newly released Javascript framework(MAVO) that lets you write less code and develop reactive web applications in a shorter time span. But above all, it lets end clients easily update and manage their website content from the browser (right on the webpage) similar to Content Management Systems(CMS) but with less effort. You can add components, duplicate components, delete components, store data locally in the browser or to a well supported data storage location like Github or Dropbox. 
                <a href="https://0xdeadfa11.blogspot.com/2017/05/mavoio-turn-static-html-into-reactive.html" target="_blank">More on MAVO</a>
            </p>            
        </div>
</div>