<h2>Current/Active Projects</h2>
<p class="hidden">Tab 2 - Active Projects - Box list of project titles and description, with assigned resources names underneath</p>
<div class="content">
   <summary>Determine which projects are ongoing, pending and have ended. Also identify if there are resource need for any project. In the color bar below - Green indicates active projects, red indicates project has ended, Orange shows Pending and black means no status reported yet.</summary>
    Title:
    Client:
    Start date:
    Projected end date:
    Resource needed: Is any additional resource needed?
    Lead Resource:
    POC contact info:
    Status mode: color bar
    Remarks:
</div>